{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-4">
        <h3>Nuevo organismo</h3>
        <a href="/{{ slug }}/organismos/" class="btn btn-outline-secondary">
            Volver
        </a>
    </div>

    <div class="card shadow-sm p-4">

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                {{ form.nombre }}
            </div>

            <div class="form-check">
                {{ form.activo }}
                <label class="form-check-label">Activo</label>
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-primary">
                    Guardar
                </button>
            </div>

        </form>

    </div>

</div>

{% endblock %}